nav {
  display: flex;
  background-color: #63A6F4;
  color: #FFFFFF;
  padding: 20px;
  font-size: 25px;
}
 
#Index {

   font-size: 20px;
 }

 #Categories {

   font-size: 20px;
 }

 a {
  margin: 0 45px;
  text-decoration: none;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
}

a:active {
  color: #FFFFFF;
}
